webservice/inventory3.wsdl

<?xml version='1.0' encoding='UTF-8' ?>
<definitions name='Inventory3'
  targetNamespace='urn:JimmyzInventory'
  xmlns:tns='urn:JimmyzInventory'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>


<message name='getJadwalSidangResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<message name='getJudulSkripsiResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<message name='getBimbinganResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<portType name='Inventory3PortType'>
  <operation name='getJadwalSidang'>    
    <output message='tns:getJadwalSidangResponse'/>
  </operation>
  <operation name='getJudulSkripsi'>    
    <output message='tns:getJudulSkripsiResponse'/>
  </operation>
  <operation name='getBimbingan'>    
    <output message='tns:getBimbinganResponse'/>
  </operation>
</portType>

<binding name='Inventory3Binding' type='tns:Inventory3PortType'>
  <soap:binding style='rpc'
    transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getJadwalSidang'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getJadwalSidang'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getJudulSkripsi'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getJudulSkripsi'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getBimbingan'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getBimbingan'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
</binding>

<service name='Inventory3Service'>
  <port name='Inventory3Port' binding='Inventory3Binding'>
    <soap:address location='http://sia.fmipa-unibba.org/webservice/service3.php'/>
  </port>
</service>
</definitions>